:root {
    --primary-color: #00ff55;
    --dark-color: #343a40;
}

a {
    text-decoration: none;
}

body {
    /* font-family: "Inter", sans-serif; */
    font-family: 'Segoe UI', sans-serif;
    background-color: #010813;
}


nav {
    background-color: #01040a;

    .nav-logo {
        transition: transform 0.2s;
        max-height: 30px;
    }

    .nav-logo:hover {
        transform: scale(1.01);
    }

    .nav-link {
        font-size: 18px;
        padding: 8px 12px;
        color: white;
        font-family: "Inter", sans-serif;
    }

    .navbar-nav {
        list-style: none;
    }

    .navbar .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar .nav-logo {
        max-height: 50px;
    }

    .btn-matricula{
        background: linear-gradient(90deg, #ff5c00, #ff9900);
        border: none;
        color: white;
        padding: 18px 18px;
        font-weight: bold;
        border-radius: 8px;
        transition: background 0.3s;
        font-family: "Inter", sans-serif;
    }

    .btn-matricula:hover{
        background: linear-gradient(90deg, #ff9900, #ff5c00);
    }

    .form-control {
        padding-left: 12px;
        background-color: transparent !important;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        color: white;
        opacity: 0.8;
        font-size: 16px;
        outline: none !important;
        box-shadow: none !important;
        transition: border-color 0.3s;
        width: 200px;
        text-align: left;
    }

    .search-form .form-control::placeholder {
        color: rgba(255,255,255,0.5);
        text-align: left;
    }

    .search-form .form-control:focus {
        border-bottom: 1px solid white;
        opacity: 1;
        background-color: transparent !important;
    }

    .search-form {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
}

.header {
    font-size: 45px;
}

.hero-section {
position: relative;
min-height: 90vh;
overflow: hidden;
}

.banner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.banner-img{
    width: 100vw;
    height: 145%;
    object-fit: cover;
}

.banner-gradient{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #010813 100%);
}

.banner-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 200px 20px;
}


.redirect {
    color: white;
    font-size: 35px;
    margin: 14px;
}

.redirect:hover {
    color: rgba(255, 255, 255, 0.8);
}

h2 {
    color:white;
}

/* header .hero {
    position: relative;
    width: 100%;
    height: 55vh;
    background: url(servico-01.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

header .hero h1 {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
} */

.faixa-header {
    position: relative;
    height: 500px;
}

.faixa-header::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.faixa-header h1 {
    position: relative;
    z-index: 1;
    font-size: 3rem;
}

/* --------- Imagens por pagina ------------- */

.faixa-header.musculacao {
    background: url('musculacao.png') center/cover no-repeat;
}

.faixa-header.avaliacao {
    background: url('avaliacaofisica.jpg') center/cover no-repeat;
}

.faixa-header.lutas {
    background: url('lutas.png') center/cover no-repeat;
}

.faixa-header.coletivas {
    background: url('aulascoletivas.jpg') center/cover no-repeat;
}

/* ------------------------------------------ */
.content-section {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
}

.content-section h2 {
font-size: 2rem;
margin-bottom: 15px;
font-weight: 600;
}

.content-section p {
line-height: 1.7;
opacity: 0.9;
}

.beneficios {
margin-top: 40px;
}

.beneficios ul {
padding-left: 20px;
line-height: 1.9;
}

.cta {
text-align: center;
margin: 45px 0;
}

.cta a {
background: #ff7f0f;
padding: 15px 35px;
border-radius: 8px;
color: #fff;
text-decoration: none;
font-weight: 600;
transition: 0.3s;
}


.cta a:hover {
background: #e66f09;
}

.servicos-section{
    display: flex;
    flex-direction: column;
    gap: 40px;

    .servico-box{
        display: flex;
        align-items: center;
        background-color: black;
        color: white;
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
        text-decoration: none;
    }

    .servico-box:hover{
        transform: scale(1.02);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    }

    .servico-img{
        flex: 1;
        position: relative;
        overflow: hidden;
    }

    .servico-img::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1px;
        width: 80px;
        background: linear-gradient(to right, transparent, black);
        z-index: 1;
    }

    .reverse .servico-img::after{
        left: -1px;
        right: auto;
        background: linear-gradient(to left, transparent, black);
    }

    .servico-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .servico-box:hover .servico-img img{
        transform: scale(1.1);
    }

    .servico-info{
        flex: 2;
        padding: 30px;
        z-index: 2;
    }

    .servico-info h3{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .servico-info p{
        font-size: 16px;
        line-height: 1.5;
    }

    .reverse{
        flex-direction: row-reverse;
    }
}

.destaques-section{   
    .alert {
        border: none;
        color: white;
        background-color: black;
    }
}

.card-title {
    color: white;
}

.contact-section{
    .contact-card {
    border: none;
    border-radius: 0;
    }


    .contact-card .form-control{
        background-color: #222;
        color: white;
        border: 1px solid #444;
    }

    .contact-card .form-control:focus{
        background-color: #333;
        color: white;
        border-color: #fff;
        box-shadow: 0 0 5px rgba(102,175,233,.6);
    }
}

.btn-contact {
    background-color: transparent;
    border-color: white;
    color: white;
}

.btn-contact:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.product-section{
    .product-card {
        border: none;
        border-radius: 10px;
    }

    .product-card:hover {
        border: none !important;
        transform: scale(1.02);
        transition: transform 0.5s ease;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    }

    .btn-product {
        background-color: transparent;
        border-color: white;
        color: white;
    }

    .btn-product:hover {
        background-color: white;
        border-color: black;
        color: black;
    }
}

.gradient-footer {
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(0,0,0,0));
}

.list-item:hover {
    text-decoration: underline;
    color: #ccc;
}


.form-container {
    max-width: 700px;
    margin: 60px auto;
    padding: 40px;
    background: linear-gradient(135deg, #111, #1a1a1a);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 255, 196, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 40px rgba(0, 255, 196, 0.08);
}

.matricula-card .form-control{
    background-color: #222;
    color: white;
    border: 1px solid #444;
}

.matricula-card .form-control:focus{
    background-color: #333;
    color: white;
    border-color: #fff;
    box-shadow: 0 0 5px rgba(102,175,233,.6);
}

.card-plano {
    background-color: #09182e;
    border-radius: 15px;
    border: 1px solid #0d203a;
}

.destaque {
    border: 2px solid #ff8800 !important;
    transform: scale(1.05);
    box-shadow: 0 0 20px #ff880033;
}

.card-plano hr {
    border-color: #ff8800 !important;
}

.text-secondary {
    color: white !important;
    opacity: 0.8;
}

.list-unstyled {
    line-height: 2.1;
    color: white;
}

.list-unstyled a {
    border-radius: 10px;
}

.preco-plano span {
    font-size: 18px;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: #050f21;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    border: 1px solid #0d203a;
}

.btn-close-modal {
    position: absolute;
    right: 20px;
    top: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
}

#etapa2 .form-control,
#etapa1 .form-control {
    border: 1px solid #123;
}

#metodo {
    cursor: pointer;
}

.campo-erro {
    border: 1px solid #ff4444 !important;
    box-shadow: 0 0 4px #ff4444;
}

.form-title {
    text-align: center;
    color: #00ffc3;
    margin-bottom: 30px;
    font-size: 28px;
}

.form-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #ccc;
}

.form-input,
.form-textarea,
.form-select {
    width: 100%;
    padding: 12px 14px;
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 12px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.modalidade:hover {
  background-color: #00ffc3;
}